body { 
    background-color: var(--blue);
}

.header {
    margin-left: 200px;
    font-weight: 500;
    color: var(--white);
}

.sigma {
    margin-left: 200px;
    margin-top: 10px;
    font-size: 30px;
    color: var(--white);
}

.alpha {
    margin-left: 200px;
    margin-top: 30px;
    font-size: 30px;
    color: var(--white);
}