.found-form{
	display: flex;
	justify-content: space-between;
}

.found-species-text{
	font-size: 25px;
  font-weight: 400;
  color: var(--dark-yellow)
}

.found-form{
	margin: 50px;
}

.found-image{
	width: 300px;
	border-radius: 10px;
}

.found-gif{
  width: 500px;
}