.home-container{
  background-color: var(--orange);
  min-height: 100vh;
  position: relative;
}

.home-hero{
  display: flex;
  margin: 50px 100px;
  justify-content: center;
}

.home-title{
  font-weight: 500;
  font-size: 100px;
  margin-left: 30px;
}

.home-content{
  margin-top: 50px;
  margin-left: 30px;
  font-size: 30px;
}
.home-image{
  max-height: 800px;
  max-width: calc(800px / 2);
  transition: transform 0.3s;
}

.home-image:hover{
  transform: scale(1.1);
}

.home-page{
  overflow-x: hidden;
  background-color: var(--blue);
  height: auto;
  padding: 50px 100px;

}

.page-title{
  font-weight: 600;
  font-size: 80px;
  color: var(--orange);
}

.page-circles{
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 600px;
}

.page-heading{
  display: flex;
  justify-content: space-around;
}

.dog{
  height: 100%;
}

.dot:hover{
  transform: scale(1.1);
}

.dot{
  position: absolute;
  display: inline-block;
  border-radius: 100%;
  transition: transform 0.6s
}

#dot1{
  height: 130px;
  width: 130px;
  margin-top: 10px;
  margin-left: 30px;
  background-color: var(--orange);
}

#dot2{
  height: 80px;
  width: 80px;
  margin-left: 110px;
  background-color: var(--dark-yellow);
}

#dot3{
  height: 60px;
  width: 60px;
  margin-top: 110px;
  margin-left: 85px;
  background-color: var(--white);
}

#dot4{
  height: 30px;
  width: 30px;
  margin-top: 80px;
  background-color: var(--red);
}

.page-cards {
  display: flex;
  justify-content: space-between;
}

