.swipe-body {
    min-height: 100vh;
    background-color: var(--red);
}

.left-arrow {
    justify-content: flex-start;
    width: 30%;
    float: left;
    color: red;
    margin-left: 0;
}

.right-arrow {
    justify-content: flex-end;
    width: 30%;
    float: right;
    color: green;
    margin-right: 0;
}

.arrow {
    font-size: 10rem;
}

.image {
    justify-content: center;
    padding: 10px;
}