.swipe-body {
    min-height: 100vh;
    background-color: var(--red);
}

.swipe-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: column;
}

.left-arrow {
    font-weight: bold;
    font-size: 180px;
    color: red;
    float: right;
}

.left-desc {
    font-size: 30px;
    color: red;
    float: left;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: column;
}

.right-arrow {
    font-weight: bold;
    font-size: 180px;
    color: green;
}

.right-desc {
    font-size: 30px;
    color: green;
}
