.card-container-false{
  margin: 20px;
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.card-container-true{
  margin: 20px;
  height: 450px;
  width: 300px;
  display: flex;
  transform: translateX(100%);
  animation: move 30s linear infinite;
  flex-direction: column;
}


img{
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-content{
  padding-top: 10px;
  text-align: center;
  vertical-align: center;
  border-radius: 0px 0px 15px 15px;
  height: 200px;
  background-color: var(--light-yellow);
}

.card-text{
  text-align: center;
  vertical-align: center;
  margin: 10px;
}
.card-name{
  text-align: center;
  vertical-align: center;
  font-weight: 500;
  font-size: 18px;
}

@keyframes move {
  from {
    transform: translateX(100%);
  }
  to{
    transform: translateX(-100%);
  }
}

